body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #e40000, #600f8b);
    font-family: Arial, sans-serif;
}

.box {
    border: 1px solid #f4f4f4;
    padding: 50px;
    text-align: center;
    background: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font: 20px Helvetica, sans-serif;
    color: #f4f4f4;
}